body {
    background: #0d1117;
    color: white;
    font-family: Poppins, sans-serif;
}

.contact-container {
    background: #161b22;
    width: 400px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #58a6ff;
    color: white;
    border: none;
    border-radius: 5px;
}
